schemas/situation_a_locker.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:annotation>
    <xs:documentation>
      Situation A: Politischer Konfliktbericht - LOCKERE Variante.
      Regel: alle Felder xs:string, alle Felder optional, Akteure optional und
      unbegrenzt, Zitat optional, keine Formatvorgaben. Feldstruktur identisch
      mit situation_a_streng.xsd; Unterschiede nur in Typisierung,
      Pflichtgraden und Constraints. Kein Ausweichfeld fuer fehlende
      Informationen.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="konfliktbericht">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="artikelmetadaten" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titel" type="xs:string" minOccurs="0"/>
              <xs:element name="quelle" type="xs:string" minOccurs="0"/>
              <xs:element name="veroeffentlichungsdatum" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="hauptthema" type="xs:string" minOccurs="0"/>
        <xs:element name="akteure" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="akteur" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="partei_oder_organisation" type="xs:string" minOccurs="0"/>
                    <xs:element name="funktion" type="xs:string" minOccurs="0"/>
                    <xs:element name="kernposition" type="xs:string" minOccurs="0"/>
                    <xs:element name="zitat" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="strittiger_gegenstand" type="xs:string" minOccurs="0"/>
        <xs:element name="status" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
