schemas/situation_c_locker.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:annotation>
    <xs:documentation>
      Situation C: Ereignis- und Wahlbericht - LOCKERE Variante.
      Regel: alle Felder xs:string, alles optional, keine Formatvorgaben.
      Feldstruktur identisch mit situation_c_streng.xsd; Unterschiede nur
      in Typisierung, Pflichtgraden und Constraints. Kein Ausweichfeld fuer
      fehlende Informationen.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="ereignisbericht">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="artikelmetadaten" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titel" type="xs:string" minOccurs="0"/>
              <xs:element name="quelle" type="xs:string" minOccurs="0"/>
              <xs:element name="veroeffentlichungsdatum" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ereignistyp" type="xs:string" minOccurs="0"/>
        <xs:element name="ereignisdatum" type="xs:string" minOccurs="0"/>
        <xs:element name="ort" type="xs:string" minOccurs="0"/>
        <xs:element name="ergebnisse" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ergebnis" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="beschreibung" type="xs:string" minOccurs="0"/>
                    <xs:element name="person" type="xs:string" minOccurs="0"/>
                    <xs:element name="prozent" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="beteiligte" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="beteiligter" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="rolle" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="folgetermine" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="folgetermin" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
